.carouselWrapper {
}

.carousel {
  position: absolute;
  border: 2px solid $blue_darker_transparent;
  border-radius: 50%;

  left: 50%;
  top: 50%;
  width: 530px;
  height: 530px;

  transform: translate(-50%, -50%);

  z-index: 12;

  animation: rotate 3s infinite;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.periodWrapper {
  position: absolute;
  width: 56px;
  height: 56px;

  transform: translateY(-50%);

  &:hover .periodButton {
    width: 56px;
    height: 56px;
    background-color: $white;

  }
}

.periodButton {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: none;
  background-color: $blue_dark;

  transform: translate(-50%, 0);

}

.periodTitle {

}

.numbersWrapper {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  gap: 80px;

  transform: translate(-50%, -50%);

  h2 {
    font-size: 200px;
    font-weight: bold;
  }

  h2:first-child {
    color: $blue;
  }

  h2:last-child {
    color: $pink;
  }

  z-index: 11;
}

.paginationWrapper {

}