@font-face {
  font-family: 'PTSans';
  src: url('../assets/fonts/PTSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PTSans';
  src: url('../assets/fonts/PTSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'PTSans';
  src: url('../assets/fonts/PTSans-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}


* {
  margin: 0;
  padding: 0;
  font-family: PTSans;
  font-weight: 500;
  font-size: 24px;
  color: $blue_dark;
}

body {
  height: 100dvh;
  overflow: hidden;
}

#root {
  height: 100%;
}